<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Encuesta</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1>Encuesta</h1>
          <form action="/encuesta/enviar" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="form-group">
              <label>Rol</label>
              <select name="rol" class="form-control form-control-lg">
                <option>Front End</option>
                <option>Backend</option>
                <option>FullStack</option>
              </select>
            </div>
            <div class="form-group">
              <label>Idiomas</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="español" id="defaultCheck1" name="idiomas">
              <label class="form-check-label" for="defaultCheck1">
                Español
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="ingles" id="defaultCheck1" name="idiomas">
              <label class="form-check-label" for="defaultCheck1">
                Ingles
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="portugues" id="defaultCheck1" name="idiomas">
              <label class="form-check-label" for="defaultCheck1">
                Portugues
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Respuesta</button>
          </form>
        </div>
      </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>